.Landing {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84DCCF;
    font-size: 24px;
    overflow: hidden;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    animation: fly-up 1s ease-in 2s 1;
    animation-fill-mode: forwards; 
}

.titleText > h1 {
    margin: 0;
}

.subTitle {
    font-size: 0.8em;
}

.emotionChoices {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -50%;
    transform: translate(0, 50%);
    animation: fly-up-bottom 1s ease-out 2.5s 1;
    animation-fill-mode: forwards;
}

.emotionChoices-dissappear {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translate(0, -50%);
    animation: fly-up 1s ease-in 1;
    animation-fill-mode: forwards; 
}

.cards {
    display: flex;
    flex-direction: row;
}

.selectedEmotion, .unselectedEmotion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    width: 150px;
}

.selectedEmotion > h3, .unselectedEmotion > h3 {
    margin: 10px;
}

.selectedEmotion:hover, .unselectedEmotion:hover {
    cursor: pointer;
}

.selectedEmotion {
    background-color: black;
    color: white;
    animation: darken 200ms ease 1;
}

.emoButton, .emoButtonDark {
    width: 20%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 1);
    outline: 0;
    border-radius: 10px;
    border: none;
    margin: 20px;
    padding: 10px;
}

.emoButtonDark {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    animation: darken 100ms ease 1;
}

.emoButtonDark:hover {
    cursor: pointer;
}

.skip {
    color: #454545;
    font-size: 0.8em;
}

.skip:hover {
    cursor: pointer;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -50%;
    transform: translate(0, 50%);
    animation: fly-up-bottom 1s ease-out 0.5s 1;
    animation-fill-mode: forwards;
}

.loading-dissappear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    animation: fly-up 1s ease-in 1;
    animation-fill-mode: forwards; 
}

.next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -50%;
    transform: translate(0, 50%);
    animation: fly-up-bottom 1s ease-out 1;
    animation-fill-mode: forwards;
}

#arrowIcon:hover {
    cursor: pointer;
}

@keyframes fly-up {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: -50%;
        opacity: 0;
    }
}

@keyframes fly-up-bottom {
    from {
        bottom: -50%;
        opacity: 0;
    }

    to {
        bottom: 50%;
        opacity: 1;
    }
}

@keyframes darken {
    from {
        background-color: white;
        color: black;
    } to {
        background-color: black;
        color: white;
    }
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }