.Song {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: #312F2F;
    color: #FAF9F9;
}

.Song > img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.info {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.info > h3 {
    opacity: 0.7;
    margin-bottom: 5px;
}