.Song {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #703D57;
    color: #FAF9F9;
}

.Song > img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.info {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info > h3 {
    opacity: 0.7
}