:root {
    --base-font-size: 40;
}

.Main {
    display: grid;
    min-height: 100%;
    min-width: 100%;
    max-height: 100vh;
    background-color: #A690A4;
    grid-template-areas:
        "info title search"
        "exp exp emotions"
        "play play foot";
    grid-template-rows: 130px 1fr 60px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
}

.songInfo {
    grid-area: info;
    margin: 10px;
    opacity: 0.9;
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    color: white;
}

.search {
    position: relative;
    grid-area: search;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.inputs > input {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 10px 10px 0 10px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
    height: 20%;    
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-title {
    font-weight: 700;
}

.results {
    position: absolute;
    top: 110%;
    left: 10px;
    background-color: white;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;
    opacity: 1;
}

.close {
    position: absolute;
    top: 5%;
    right: 2%;
}

.close:hover {
    cursor: pointer;
}

.result:hover {
    background-color: #ACCEF7;
    cursor: pointer;
}


.mainSection {
    grid-area: exp;
    display: flex;
    flex: 1;
    background-color: #703D57;
    margin: 10px 0 10px 10px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    overflow-y: scroll;
}

.lyrics {
    color: #FAF9F9;
    font-size: 18px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid black;
    overflow-y: scroll;
}

.explanation {
    overflow-y: scroll;
    max-width: 50%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.lyric-text {
    margin: 0.5em;
}

.explanationText {
    color: white;
    font-size: 18px;
    line-height: 1.5em;
    color: #FF958C;
}

.highlighted-verse {
    border: 1px solid white;
    box-sizing: border-box;
}

.highlighted-verse:hover, .regular-verse:hover {
    border: 1px solid white;
    cursor: pointer;
        box-sizing: border-box;

}

.invisible {
    opacity: 0;
}

.playBack {
    grid-area: play;
    background-color: #FAF9F9;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
}

.emotions {
    grid-area: emotions;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5E4B56;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
    color: #FAF9F9;
    opacity: 0.9;

}

.emotionsList {
    margin-top: 30%;
}

.emotionText {
    font-size: calc(var(--base-font-size) * 1px);
    opacity: 1;
    margin: 0;
}

.emotionText:nth-child(1) {
    color: #A690A4;
}

.emotionText:nth-child(2) {
    font-size: calc(var(--base-font-size) * 0.9px);
    opacity: 0.9;
}

.emotionText:nth-child(3) {
    font-size: calc(var(--base-font-size) * 0.8px);
    opacity: 0.8;
}

.emotionText:nth-child(4) {
    font-size: calc(var(--base-font-size) * 0.7px);
    opacity: 0.7;
}

.emotionText:nth-child(5) {
    font-size: calc(var(--base-font-size) * 0.6px);
    opacity: 0.6;
}

.emotionText:nth-child(6) {
    font-size: calc(var(--base-font-size) * 0.5px);
    opacity: 0.5.
}

.moodifyMe {
    grid-area: foot;
    background-color: #5E4B56;
    margin: 0 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    color: #FAF9F9;
    display: flex;
    justify-content: center;
}

.moodifyMe:hover {
    cursor: pointer;
    border: 1px solid white;
}