:root {
    --base-font-size: 40;
}

.box {
    border-radius: 5px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.Main {
    position: relative;
    display: grid;
    min-height: 100%;
    min-width: 100%;
    max-height: 100vh;
    background-color: #F6E8EA;
    grid-template-areas:
        "top top top"
        "exp exp emotions"
        "exp exp recommendations"
        "foot foot foot";
    grid-template-rows: 130px 1fr 2fr 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    --stagger-delay: 100ms;
}

.top {
    grid-area: top;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
        "song title search";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #84DCCF;
    border-bottom: 3px solid #22181C;
    /* background: linear-gradient(to bottom, #FFCF56, #84DCCF) */
}

.songInfo {
    grid-area: song;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    opacity: 0.9;
    animation: songInfoEntrance 2s ease;
    animation-fill-mode: backwards;
}

.spotifySong {
    height: 100px;
    transform: translate(0, 10%);
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    color: black;
}

.search {
    position: relative;
    grid-area: search;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.searchIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -45%);
}

.inputs>input {
    border: none;
    outline: 0;
    padding: 12px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
    height: 20%;
    width: 100%;
}

.inputs {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: clamp(20vw, 50%, 33vw);
    margin-left: 10px;
}

.song-title {
    font-weight: 700;
}

.results {
    position: absolute;
    top: 120%;
    left: 10px;
    background-color: white;
    padding: 10px;
    z-index: 3;
    border-radius: 10px;
    opacity: 1;
}

.close {
    position: absolute;
    top: 5%;
    right: 2%;
}

.close:hover {
    cursor: pointer;
}

.result:hover {
    background-color: #ACCEF7;
    cursor: pointer;
}


.mainSection {
    grid-area: exp;
    display: flex;
    position: relative;
    flex: 1;
    background-color: #22181C;
    margin: 10px 0 10px 20px;
    padding: 10px 20px 20px 20px;
    animation: songInfoEntrance 2s ease;
    animation-fill-mode: backwards;
    animation-delay: calc(1 * var(--stagger-delay));
}

.lyrics {
    position: absolute;
    color: #FAF9F9;
    font-size: 18px;
    padding-right: 10px;
    border-right: 2px solid black;
    overflow-y: scroll;
    height: calc(100% - 20px);
    width: calc(50% - 40px);
}

.explanation {
    position: absolute;
    padding-left: 10px;
    left: 50%;
    overflow-y: scroll;
    height: calc(100% - 20px);
    width: calc(50% - 30px);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.lyric-text {
    margin: 0.5em;
}

.explanationText {
    color: white;
    font-size: 18px;
    line-height: 1.5em;
    color: #EF626C;
}

.regular-verse {
    opacity: 0.5;
}

.highlighted-verse {
    opacity: 1;
    animation: fade-in 500ms ease 1 
}

.highlighted-verse:hover,
.regular-verse:hover {
    opacity: 1;
    cursor: pointer;
}

.invisible {
    opacity: 0;
}

.playBack {
    grid-area: play;
    background-color: #FAF9F9;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
}

.emotions {
    grid-area: emotions;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-right: 20px;
    padding: 20px;
    background-color: #EF626C;
    color: #FAF9F9;
    animation: pop-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(1 * var(--stagger-deylay));
}

.emotionText {
    font-size: calc(var(--base-font-size) * 1px);
    opacity: 1;
    margin: 0;
}

.emotionText:nth-child(1) {
    color: #ddcb27;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(2 * var(--stagger-delay));
}

.emotionText:nth-child(2) {
    font-size: calc(var(--base-font-size) * 0.9px);
    opacity: 0.9;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(3 * var(--stagger-delay));
}

.emotionText:nth-child(3) {
    font-size: calc(var(--base-font-size) * 0.8px);
    opacity: 0.8;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(4 * var(--stagger-delay));
}

.emotionText:nth-child(4) {
    font-size: calc(var(--base-font-size) * 0.7px);
    opacity: 0.7;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(5 * var(--stagger-delay));
}

.emotionText:nth-child(5) {
    font-size: calc(var(--base-font-size) * 0.6px);
    opacity: 0.6;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(6 * var(--stagger-delay));
}

.emotionText:nth-child(6) {
    font-size: calc(var(--base-font-size) * 0.5px);
    opacity: 0.5;
    animation: emotion-up ease 2s;
    animation-fill-mode: backwards;
    animation-delay: calc(7 * var(--stagger-delay));
}

.recommendations {
    grid-area: recommendations;
    background-color: #87D68D;
    margin: 10px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    animation: appear-from-right ease 2s 1.5s 1;
    animation-fill-mode: backwards;
}

.foot {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #312F2F, #F6E8EA);
}

.moodifyMe {
    background-color: black;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #FAF9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moodifyMe:hover {
    cursor: pointer;
    border: 1px solid white;
}

.moodifyMeText {
    padding: 5px;
}

.loadingScreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    border: 16px solid rgba(0, 0, 0, 0.5);
    border-top: 16px solid #84DCCF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

@keyframes songInfoEntrance {
    from {
        opacity: 0;
        filter: hue-rotate(180deg);
        left: -50%;
    }
    to {
        filter: hue-rotate(0deg);
        left: 0%;
    }
}

@keyframes pop-up {
    from {
        opacity: 0;
        filter: hue-rotate(180deg);
        transform: scale(0.3);
    }
    to {
        filter: hue-rotate(0deg);
        transform: scale(1);
    }
}

@keyframes emotion-up {
    from {
        opacity: 0;
        transform: translate(0, 2000px);
    } 
    to {
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear-from-right {
    from {
        opacity: 0;
        filter: hue-rotate(180deg);
        transform: translate(200%, 0)
    }
    to {
        filter: hue-rotate(0deg);

    }
}